
.intro{
  color: white;
  background-color:  #000970;
  height:inherit;
}

img{
  max-width: 100%;
  height: auto;
}

#header-image{
  padding: 10px;
}

.navbar-nav > li > a, .navbar-header > a{
  color: black;
}

.navbar-nav > li > a:hover, .nav .open > a ,.nav .open > a:hover, .navbar-nav > li > a:active, .nav .open>a:focus, .navbar-header > a:hover, .dropdown.open > .dropdown-menu > li > a:focus,
.dropdown.open>.dropdown-menu>li>a:hover  
{
color: white;
background-color: #000970;
}



.navbar-toggle .icon-bar {
background-color: #000;
}

/* background */
.navbar-toggle {
border-color: #000;
background-color: white;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

  #header-image{
    padding: 50px auto;
  }
 }
