 @import url('https://fonts.googleapis.com/css?family=Roboto');
.intro{
  color: white;
  background-color:  #000000;
  height:auto;
}
body{
  font-family: 'Roboto', sans-serif;
}
img{
  max-width: 100%;
  height: auto;
}
#header-image{
  padding: 10px;
  max-width:50%;
}

.navbar-nav > li, .navbar-header {
  color: black !important;
}
.slider {
    width: 100%;
    margin: 100px auto;
    padding-top: 30px;
}

/* nav.nav{
  overflow: hidden; 
}
#navbar{
  margin-bottom: -5000px;
  padding-bottom: 5000px; 
  background-color: #B0BEC5;
} */


.slick-slide {
  margin: 0px 20px;
}
.navbar-header > button.navbar-toggle.collapsed:hover{
  border-color: white;
  background-color: #000000;
}

/* .slick-slide img {
  width: 100%;
} */
.content{
  font-size: 1.3em;

}
.navbar-header > button.navbar-toggle.collapsed:hover > .icon-bar{
  background-color: white;
}

.navbar-fixed-left{
  padding-right: 0px;
}
.body-wrapper{
  padding-left: 30px;
  padding-right: 30px;
}
#header-image{
  padding: 10px;
  margin-top: 1em;
}

.navbar-nav > li > a, .navbar-header > a{
  color: inherit;
  font-size: 1.2em;
}

.slider.rounded img {
  border-radius: 50%;
  border-color: #333;
  border-style: solid;
  border-width: 1px;
}

.navbar-collapse.collapse > ul.navbar-nav.nav > li{
  /* display: table-row; */
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.slick-prev,
.slick-next
{
  display:block !important;
  width:50px!important;
  height:50px!important;
  background:white!important;
  border-radius:50%;
  z-index: 9999;
}
.slick-prev{
  left:25px!important;
}
.slick-next{
  right:25px!important;
}



.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .nav .open > a ,.nav .open > a:hover,
.navbar-nav > li > a:active, .nav .open>a:focus, .navbar-header > a:hover,
.dropdown.open > .dropdown-menu > li > a:focus,
.dropdown.open>.dropdown-menu>li>a:hover
{
color: white !important;
background-color: #000000 !important;
}

#navbar > ul > li.active{
  color: #333 !important;
  background-color: #90A4AE !important;
}

#page-content > p{
  text-align: justify;
}

.navbar-toggle .icon-bar {
background-color: #000;
}

/* background */
.navbar-toggle {
border-color: #000;
background-color: white;
}


#header-image{
    padding: 50px auto;
  }


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slider-header{
  padding-top:10px;
  font-size: 24px;
  font-family: monospace;
  text-align:center;
}
.slider-text{
  font-size: 18px;
  font-family: sans-serif;
  text-align:center;
}





.slider-img-container{

}


.slider-img{
  height:150px;
  width:150px;
  object-fit: cover;
  margin: 0 auto; /* it centers any block level element */
}

@media only screen and (max-width: 992px) {
  .slider-img{
    height:200px;
    width:200px;
    object-fit: cover;
    margin: 0 auto; /* it centers any block level element */
  }
}
@media only screen and (max-width: 768px) {
  .slider-img{
    height:200px;
    width:200px;
    object-fit: cover;
    margin: 0 auto; /* it centers any block level element */
  }
}






html, body { height: 100%; }

.container {
	/* min-height: 100%; */
	overflow: hidden;
}

#navbar-container, #body-container{
	margin-bottom: -9999px;
	padding-bottom: 10100px;
}

@media only screen and (max-width:768px){
  #navbar-container, #body-container{
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }
}

#navbar-container{
  background: #B0BEC5;
}
@media only screen and (max-width: 768px){
  #navbar-container{
    background: #fff;
  }
  .navbar-header{
    background: #B0BEC5;
  }
  .container{
    padding-left: 1px;
    padding-right: 1px;
  }
}




.navbar-nav > li > a:active{
  background: black!important;
}








/* FOOTER do MATHEUS */


.rodape-logo{
  margin-bottom: 15px;
  margin-top: 15px;
  max-height:100px;
  margin: 0 auto;
}



.rodape{
	background-color: black;
    color: white;
    padding-top: 20px;
}
.rodape h4{
    padding-bottom: 10px;
}

.rodape-conteudo{
	padding-top: 50px;
	text-align: center;
}


.rodape-imagem{
  display:block;
  margin: 0 auto;
  /* padding:10px; */
}

.center-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.coluna{
  max-height: 100%;
}
footer{
  background: black;
  color:white;

}

.social-media{
  font-size: 48px;
}

.fa-facebook{
  color: #3b5998;
}
.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-youtube{
  color: #c4302b;
}

@media only screen and (max-width: 768px){
  .col-centered{
    text-align:center;
  }
}


.slider-container{
  background-color:#B0BEC5;
}

