
/*Adiciona isso no CSS*/


.slider {
    width: 100%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}
.slider.rounded img {
  border-radius: 50%;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}

.slider-header{
  padding-top:10px;
  font-size: 24px;
  font-family: monospace;
  text-align:center;
}
.slider-text{
  font-size: 18px;
  font-family: sans-serif;
  text-align:center;
}
